@model TheBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Archive";
}

<div class="crud-container">
<h2>Archive Ticket</h2>
<h3>Are you sure you want to Archive this ticket?</h3>
    <hr />
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="form-group">
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" disabled />
            </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Ticket Title</label>
                    <input asp-for="Title" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3" disabled></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Created" class="control-label"></label>
                    <input asp-for="Created" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label asp-for="Updated" class="control-label"></label>
                    <input asp-for="Updated" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="Archived" class="form-check-input" disabled/>
                    <label asp-for="Archived" class="control-label"></label>
                </div>
                <div class="form-group">
                    <label asp-for="TicketTypeId" class="control-label"></label>
                    <input asp-for="TicketType.Name" class="form-control" asp-items="ViewBag.TicketTypeId" disabled></input>
                </div>
                <div class="form-group">
                    <label asp-for="TicketPriorityId" class="control-label"></label>
                    <input asp-for="TicketPriority.Name" class="form-control" asp-items="ViewBag.TicketPriorityId" disabled></input>
                </div>
                <div class="form-group">
                    <label asp-for="TicketStatusId" class="control-label"></label>
                    <input asp-for="TicketStatus.Name" class="form-control" asp-items="ViewBag.TicketStatusId" disabled></input>
                </div>
                <div class="form-group">
                    <label asp-for="OwnerUserId" class="control-label"></label>
                    <input asp-for="OwnerUser.FullName" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label asp-for="DeveloperUserId" class="control-label"></label>
                    <input asp-for="DeveloperUser.FullName" class="form-control" disabled/>
                </div>
                <form asp-action="Archive">
                    <input type="hidden" asp-for="Id" />
                <input type="submit" value="Archive" class="btn btn-danger" />
                <a onclick="javascript:history.back()" class="btn btn-cancel ms-2">Cancel</a>
            </form>
            <div>
                <a class="btn-back" onclick="javascript:history.back()">Back</a>
            </div>
        </div>
    </div>
</div>