@model TheBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<div class="crud-container ms-sm-5 mt-5">
    <h2>Edit Ticket</h2>

    <h3>@Model.Project.Name</h3>
    <hr />
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ProjectId" />
                <input type="hidden" asp-for="Created" />
                <input type="hidden" asp-for="OwnerUserId" />
                <input type="hidden" asp-for="DeveloperUserId" />
                <input type="hidden" asp-for="Archived" />



                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TicketTypeId" class="control-label"></label>
                    <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                    <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TicketPriorityId" class="control-label"></label>
                    <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                    <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TicketStatusId" class="control-label"></label>
                    <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                    <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-actions" />
                    <a onclick="javascript:history.back()" class="btn btn-cancel ms-2">Cancel</a>
                </div>
            </form>
            <div>
                <a class="btn-back" onclick="javascript:history.back()">Back</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
