@model TheBugTracker.Models.Notification

@{
    ViewData["Title"] = "Create";
}
<div class="crud-container">
<h4>Create Notification</h4>
<hr />
<div class="row">
    <div class="col-lg-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Viewed" /> @Html.DisplayNameFor(model => model.Viewed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TicketId" class="control-label"></label>
                <select asp-for="TicketId" class ="form-control" asp-items="ViewBag.TicketId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecipientId" class="control-label">To</label>
                <select asp-for="RecipientId" class ="form-control" asp-items="ViewBag.RecipientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SenderId" class="control-label">From</label>
                <select asp-for="SenderId" class ="form-control" asp-items="ViewBag.SenderId"></select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-actions" value="Create" />
                <a onclick="javascript:history.back()" class="btn btn-cancel ms-2">Cancel</a>
                </div>
                <div>
                    <a class="btn-back" onclick="javascript:history.back()">Back</a>
                </div>
        </form>
    </div>
</div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
