

.chart-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}


.nav-tabs {
    flex-wrap: nowrap;
}

.nav-tabs .nav-item li {
    margin: 0;
    padding: 0;
}

.nav-tabs .nav-item button {
    padding-left: 15px;
    margin-bottom: 0;
    border: 1px solid $dark-color;
    border-bottom: 0;
    color: #222222;
    font-weight: bold;
    font-size: 1rem;
    background-color: #fff;
/*    white-space: normal !important;
    word-break: break-all;*/
}

.nav-tabs .nav-item button:hover {
    color: $light-color;
    border: 1px solid $dark-color;
    border-bottom: 0;
}

.nav-tabs li button.active {
    background-color: $bright-color !important;
    color: #fff !important;
}

.accordion-body {
    border: 1px solid $dark-color;
    border-top: none !important;
    box-shadow: none;
    border-radius: 0 0 0.375rem 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}


#myTabContent {
    border: none !important;
}

#chartdiv {
    width: 100%;
    height: 400px;
}


.amDark {
    background-color: #30303d;
    color: #fff;
    color: red;
}

.tooltip {
    pointer-events: none !important;
}


#ticketPriority .canvasjs-chart-tooltip {
    right: 45% !important;
    left: auto !important;
    top: 160px !important;
    bottom: auto !important;
}


.accordion {
    border: none !important;
    --bs-accordion-border-width: 0 !important;
}


/*Responsive Tabs*/
@media (max-width: 991px) {
    .tab-content > .tab-pane {
        display: block;
        opacity: 1;
    }

    .accordion-button {
        font-weight: bold;
    }

    .accordion-button:not(.collapsed),
    .accordion-button:focus,
    .accordian-button:active {
        background-color: $light-color !important;
        color: #fff;
    }

    .accordion-body {
        overflow-x: auto;
        display: block;

        #ticketVDeveloper {
            min-width: 700px;
        }

        #ticketCount {
            width: 100%;
        }

        #myTabContent .accordian-body {
            overflow-x: scroll;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .collapsing {
        transition-property: height, visibility;
        transition-duration: .35s;
    }
}
