
.crud-container {

    .form-group {
        margin-bottom: 1rem;
    }

    label {
        margin-bottom: 0.3rem;
    }

    #imageFileData {
        margin-top: 1.8rem;
    }

    .form-check-input {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.5rem;
        background-color: #e2e5e9;
        background-color: black;
        border-color: gray;
    }
}
