.pill-projects {
    background-color: $bright-color;
}

.pill-tickets {
    background-color: $light-color;
}

.pill-unassigned {
    background-color: $medium-color;
}

.pill-counts {
    background-color: $dark-color;
}
