$header-color: #176B87;
$nav-color: #092635;
$accent-color: #c6538c;
$accenttext-color: #e2ecf0;
$ham-color: #e2ecf0;
$hover-color: #176B87;
$navlink-color: #757575;
$footer-color: #176B87;
//--- pallete ----
$dark-color: #092635;
$medium-color: #1B4242;
$light-color: #265073;
$bright-color: #176B87;

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #f1f5f8;
}

a {
    transition: background 0.2s, color 0.2s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.btn-cancel {
    color: #176b87;
    border-color: #176b87;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active {
    color: #fff;
    background-color: $dark-color;
}

.btn-actions {
    color: #fff;
    background-color: $bright-color;
}

.btn-actions:hover,
.btn-actions:focus,
.btn-actions:active {
    color: #fff;
    background-color: $light-color;
}

.btn-back {
    color: $bright-color;
    cursor: pointer;
}

/*Identity pages*/
.manage-nav {
    li{
        margin-bottom: 0.5rem;
    }

    li a {
        color: $light-color;
    }

    .active {
        background-color: $bright-color !important;
        color: #fff;
    }

    li a:hover,
    li a:focus {
        background-color: $bright-color;
        color: #fff;
    }
}

#profile-form, #email-form, #set-password-form, #change-password-form {
    .form-group {
        margin-bottom: 1rem;
    }
}

.demo-logins {
    background-color: $ham-color;
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        width: 100%;
        margin-bottom: 1rem;
    }
}

