$header-color: #176B87;
$nav-color: #092635;
$accent-color: #c6538c;
$accenttext-color: #e2ecf0;
$ham-color: #e2ecf0;
$hover-color: #176B87;
$navlink-color: #757575;
$footer-color: #176B87;
//--- pallete ----
$dark-color: #092635;
$medium-color: #1B4242;
$light-color: #265073;
$bright-color: #176B87;

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #f1f5f8;
}

a {
    transition: background 0.2s, color 0.2s;
}

a:hover,
a:focus {
    text-decoration: none;
}