
/*****************************************************************************************
	
	FOOTER                                                                  FOOTER

    NOTE: some of the footer styles are in the _header_nav style sheet

*****************************************************************************************/

.footer {
    //flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    width: 100%;
    z-index: 1111;
    width: 100%;
    flex-shrink: 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    grid-gap: 10px;
    padding: 0.8rem 0;
    position: static;
    bottom: 0;
    background-color: $footer-color;
    color: #ccc;
    width: 100%;
    margin-top: 2rem;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer-item a {
    color: $accenttext-color;
}

.footer-item a i{
    color: $accenttext-color;
    font-size: 1.8rem;
}

.footer-item span {
    color: $accenttext-color;
}

.footer-item a:hover {
    color: #d083cf;
}

.footer-item a:visited {
    color: white;
}

.footer-item a:active {
    color: white;
}

.footer-item a:focus {
    color: white;
}

.footer-item a img {
    width: 30px;
    height: auto;
}

.footer-item:nth-child(1) {
    flex-wrap: wrap;
}

.footer-item:nth-child(2) {
    justify-content: center;
}

.footer-item:nth-child(3) {
    justify-content: end;
}

.footer-item:nth-child(3) a {
    padding: 0 1rem;
    color: #d083cf;
}

.footer-item:nth-child(3) a:hover {
    opacity: 0.7;
}



@media ( max-width: 755px ) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }

    .footer-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-item:nth-child(1) {
        order: 3;
        grid-column: 3 / 1;
    }

    .footer-item:nth-child(2) {
        order: 2;
        grid-column: 3 / 1;
    }

    .footer-item:nth-child(3) {
        order: 1;
        grid-column: 3 / 1;
        justify-content: center;
    }
}


.note-editable {
    background-color: white !important;
    color: black !important;
}
