@model TheBugTracker.Models.Company

@{
    ViewData["Title"] = "Edit Company";
}

<div class="crud-container ms-sm-5 mt-5">
    <h2>Edit Company</h2>
    <hr />
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-actions" />
                    <a onclick="javascript:history.back()" class="btn btn-cancel ms-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn-back" onclick="javascript:history.back()">Back</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
