@model TheBugTracker.Models.ViewModels.AddProjectWithPMViewModel
@using TheBugTracker.Models.Enums

@{
    ViewData["Title"] = "Edit";
}

<div class="crud-container">
    <h2>Edit Project</h2>
    <hr />
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-7">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Project.Id" />
                <input type="hidden" asp-for="Project.CompanyId" />
                <input type="hidden" asp-for="Project.FileData" />
                <input type="hidden" asp-for="Project.FileName" />
                <input type="hidden" asp-for="Project.FileContentType" />
                <div class="form-group">
                    <label asp-for="Project.Name" class="control-label"></label>
                    <input asp-for="Project.Name" class="form-control" />
                    <span asp-validation-for="Project.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Project.Description" class="control-label"></label>
                    <input asp-for="Project.Description" class="form-control" />
                    <span asp-validation-for="Project.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Project.StartDate" class="control-label"></label>
                    <input asp-for="Project.StartDate" class="form-control" />
                    <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Project.EndDate" class="control-label"></label>
                    <input asp-for="Project.EndDate" class="form-control" />
                    <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Project.ProjectPriorityId" class="control-label">Project Priority</label>
                    <select asp-for="Project.ProjectPriorityId" class="form-control" asp-items="@Model.PriorityList">
                        <option></option>
                    </select>
                    <span asp-validation-for="Project.ProjectPriorityId" class="text-danger"></span>
                </div>

                @if (User.IsInRole(Roles.Administrator.ToString()))
                {
                    <div class="form-group">
                        <label class="control-label">Project Manager</label>
                        <select asp-for="PmId" class="form-control" asp-items="@Model.PMList">
                        </select>
                    </div>
                }
            </div>
            <div class="col-lg-5 ps-lg-5">
                <div class="form-group">
                    @if (Model.Project?.FileData != null)
                    {
                        <img id="imageFileData" class="img-fluid img-thumbnail" style="max-width:400px;max-height:400px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.FileData))" />
                    }
                    else
                    {
                        <img id="imageFileData" class="img-fluid img-thumbnail" style="max-width:400px;max-height:400px;" src="~/image/analytics-process-outline.svg" />
                    }
                </div>

                <div class="form-group">
                    <label class="control-label">Project Image</label>
                    <input asp-for="Project.FormFile" class="form-control" type="file" accept=".jpg,.png,.jpeg,.gif,.svg,.webp,.bmp"
                           onchange="document.getElementById('imageFileData').src=window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Project.FormFile" class="text-danger"></span>
                </div>


            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-actions" />
                <a onclick="javascript:history.back()" class="btn btn-cancel ms-2">Cancel</a>
            </div>
        </div>
    </form>

    <div>
        <a class="btn-back" onclick="javascript:history.back()">Back</a>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
