@charset "UTF-8";
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  background-color: #f1f5f8;
}

a {
  transition: background 0.2s, color 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.btn-actions {
  color: #fff;
  background-color: #176B87;
}

.btn-actions:hover,
.btn-actions:focus,
.btn-actions:active {
  color: #fff;
  background-color: #265073;
}

/*Identity pages*/
.manage-nav li {
  margin-bottom: 0.5rem;
}
.manage-nav li a {
  color: #265073;
}
.manage-nav .active {
  background-color: #176B87 !important;
  color: #fff;
}
.manage-nav li a:hover,
.manage-nav li a:focus {
  background-color: #176B87;
  color: #fff;
}

#profile-form .form-group, #email-form .form-group, #set-password-form .form-group, #change-password-form .form-group {
  margin-bottom: 1rem;
}

.demo-logins {
  background-color: #e2ecf0;
  border-radius: 7px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.demo-logins form {
  width: 100%;
  margin-bottom: 1rem;
}

/*****************************************************************************************

	FOOTER                                                                  FOOTER

    NOTE: some of the footer styles are in the _header_nav style sheet

*****************************************************************************************/
.footer {
  width: 100%;
  z-index: 1111;
  width: 100%;
  flex-shrink: 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 15% 1fr;
  grid-gap: 10px;
  padding: 0.8rem 0;
  position: static;
  bottom: 0;
  background-color: #176B87;
  color: #ccc;
  width: 100%;
  margin-top: 2rem;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer-item a {
  color: #e2ecf0;
}

.footer-item a i {
  color: #e2ecf0;
  font-size: 1.8rem;
}

.footer-item span {
  color: #e2ecf0;
}

.footer-item a:hover {
  color: #d083cf;
}

.footer-item a:visited {
  color: white;
}

.footer-item a:active {
  color: white;
}

.footer-item a:focus {
  color: white;
}

.footer-item a img {
  width: 30px;
  height: auto;
}

.footer-item:nth-child(1) {
  flex-wrap: wrap;
}

.footer-item:nth-child(2) {
  justify-content: center;
}

.footer-item:nth-child(3) {
  justify-content: end;
}

.footer-item:nth-child(3) a {
  padding: 0 1rem;
  color: #d083cf;
}

.footer-item:nth-child(3) a:hover {
  opacity: 0.7;
}

@media (max-width: 755px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
  .footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-item:nth-child(1) {
    order: 3;
    grid-column: 3/1;
  }
  .footer-item:nth-child(2) {
    order: 2;
    grid-column: 3/1;
  }
  .footer-item:nth-child(3) {
    order: 1;
    grid-column: 3/1;
    justify-content: center;
  }
}
.note-editable {
  background-color: white !important;
  color: black !important;
}

.chart-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-tabs {
  flex-wrap: nowrap;
}

.nav-tabs .nav-item li {
  margin: 0;
  padding: 0;
}

.nav-tabs .nav-item button {
  padding-left: 15px;
  margin-bottom: 0;
  border: 1px solid #092635;
  border-bottom: 0;
  color: #222222;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fff;
  /*    white-space: normal !important;
      word-break: break-all;*/
}

.nav-tabs .nav-item button:hover {
  color: #265073;
  border: 1px solid #092635;
  border-bottom: 0;
}

.nav-tabs li button.active {
  background-color: #176B87 !important;
  color: #fff !important;
}

.accordion-body {
  border: 1px solid #092635;
  border-top: none !important;
  box-shadow: none;
  border-radius: 0 0 0.375rem 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

#myTabContent {
  border: none !important;
}

#chartdiv {
  width: 100%;
  height: 400px;
}

.amDark {
  background-color: #30303d;
  color: #fff;
  color: red;
}

.tooltip {
  pointer-events: none !important;
}

#ticketPriority .canvasjs-chart-tooltip {
  right: 45% !important;
  left: auto !important;
  top: 160px !important;
  bottom: auto !important;
}

.accordion {
  border: none !important;
  --bs-accordion-border-width: 0 !important;
}

/*Responsive Tabs*/
@media (max-width: 991px) {
  .tab-content > .tab-pane {
    display: block;
    opacity: 1;
  }
  .accordion-button {
    font-weight: bold;
  }
  .accordion-button:not(.collapsed),
  .accordion-button:focus,
  .accordian-button:active {
    background-color: #265073 !important;
    color: #fff;
  }
  .accordion-body {
    overflow-x: auto;
    display: block;
  }
  .accordion-body #ticketVDeveloper {
    min-width: 700px;
  }
  .accordion-body #ticketCount {
    width: 100%;
  }
  .accordion-body #myTabContent .accordian-body {
    overflow-x: scroll;
  }
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition-property: height, visibility;
    transition-duration: 0.35s;
  }
}
/*   DEFAULTS */
a {
  transition: background 0.2s, color 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}

/*   CUSTOM */
.no-pointer {
  pointer-events: none;
}

.nav-link-a-active {
  color: #fff !important;
}

/* body WRAPPER  */
#body-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #176B87;
}

#main-wrapper {
  width: 100%;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  height: calc(100% - 50px);
  position: fixed;
  bottom: 0;
  overflow: auto;
  transition: all 0.5s ease;
  /* ************************************************   footer */
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.header-brand {
  top: 0;
  left: 250px;
  margin-left: -250px;
  width: 0;
  height: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #092635;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-shrink: 0;
  transition: all 0.5s ease;
}

.header-brand img {
  padding: 10px 0;
  width: 30px;
  height: auto;
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 1.5rem;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.header-brand.toggled {
  width: 60px;
}

.header-login {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding-right: 2rem;
}

.header-login span {
  margin-left: 1rem;
  color: #e2ecf0;
  font-size: 1.3rem;
}

.header-login .dropdown {
  margin: 0;
  padding: 0;
}

.header-login .dropdown ul {
  background-color: #092635;
  border-radius: 0;
  color: #e2ecf0;
  padding: 0;
  margin: 0;
  border: 4px solid #176B87;
}

.header-login .dropdown li {
  color: #e2ecf0;
  display: block;
  padding: 0;
  margin: 0;
}

.header-login .dropdown a {
  color: #e2ecf0;
  margin: 0;
  padding: 7px;
}

.header-login .dropdown ul li a:hover {
  background-color: #176B87;
  margin: 0;
  padding: 7px;
}

/* HAMBURGER ICON */
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  z-index: 20;
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger a {
  text-decoration: none;
  background-color: #176B87;
  color: #e2ecf0;
}

#hamburger-toggle::after {
  content: "✕";
}

#hamburger-toggle.changed::after {
  content: "☰";
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  margin-left: -250px;
  width: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #092635;
  transition: all 0.5s ease;
}

/* sidebar moves to the RIGHT to hide nav when toggled */
#main-wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-nav {
  position: absolute;
  top: 15px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}

.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #757575;
  font-weight: 600;
  font-size: 18px;
}

.sidebar-nav > li > a:hover,
.sidebar-nav > li > ul > li > a:hover,
.sidebar-nav > li > a:active,
.sidebar-nav > li > ul > li > a:active,
.sidebar-nav > li > a:focus,
.sidebar-nav > li > ul > li > a:focus {
  text-decoration: none;
  color: #fff;
  background: #176B87;
}

.nav-link i,
.nav-link-a i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.sidenav-second-level {
  margin: 0;
  padding-left: 1rem;
}

.link-sub span {
  padding-right: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.iChev::before {
  font-size: 1.2rem;
  padding-bottom: 2px;
}

.dropdown ul {
  display: none;
}

/*    CONTENT   */
#content-wrapper {
  /* ************************************************   footer */
  flex: 1 0 auto;
  width: 100%;
  position: absolute;
  padding: 0 15px;
  margin-top: 10px;
}

/* content moves to the LEFT to hide nav when toggled */
#main-wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/*    MEDIA QUERIES   */
@media (min-width: 992px) {
  #body-wrapper {
    position: relative;
  }
  #main-wrapper {
    padding-left: 250px;
  }
  #content-wrapper {
    position: relative;
    top: 0;
  }
  /* #main-wrapper.toggled #body-wrapper,
  #main-wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  } */
  #main-wrapper.toggled {
    padding-left: 60px;
  }
  #main-wrapper.toggled #body-wrapper,
  #main-wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
  #sidebar-wrapper,
  .header-brand {
    width: 250px;
  }
  #main-wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #body-wrapper {
    position: relative;
  }
  #main-wrapper {
    padding-left: 60px;
  }
  #content-wrapper {
    position: relative;
    top: 0;
  }
  #main-wrapper.toggled #body-wrapper,
  #main-wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
  #main-wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper,
  .header-brand {
    width: 60px;
  }
  .header-brand.toggled {
    width: 250px;
  }
  #hamburger-toggle::after {
    content: "☰";
  }
  #hamburger-toggle.changed::after {
    /*   content: "\2630"; */
    content: "✕";
  }
}
@media (max-width: 767px) {
  #body-wrapper {
    position: relative;
  }
  #main-wrapper {
    padding-left: 0;
  }
  #content-wrapper {
    position: relative;
    top: 0;
  }
  #main-wrapper.toggled #body-wrapper,
  #main-wrapper.toggled #content-wrapper {
    position: relative;
    /* margin-right: 250px; */
  }
  #main-wrapper.toggled {
    padding-left: 250px;
  }
  #main-wrapper.toggled #sidebar-wrapper,
  .header-brand.toggled {
    width: 250px;
  }
  #sidebar-wrapper,
  .header-brand {
    width: 0;
  }
  .header-brand img {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  /* #sidebar-wrapper.mouseOver {
    width: 250px;
  } */
  .header-brand.toggled img {
    opacity: 1;
    transition: all 0.5s ease;
  }
  #hamburger-toggle::after {
    content: "☰";
  }
  #hamburger-toggle.changed::after {
    content: "✕";
  }
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition-property: height, visibility;
    transition-duration: 0.35s;
  }
}
.pill-projects {
  background-color: #176B87;
}

.pill-tickets {
  background-color: #265073;
}

.pill-unassigned {
  background-color: #1B4242;
}

.pill-counts {
  background-color: #092635;
}

#insights, #stats, #projectsIcon, #ticketsIcon {
  display: block;
  margin: 2.5rem 0 1rem 0;
  padding: 0;
  font-weight: bold;
  font-size: 2rem;
}

#insights img, #stats img, #projectsIcon img, #ticketsIcon img {
  width: 30px;
  height: auto;
  margin-right: 0.8rem;
}

.dashboard-project-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.dashboard-project-container .responsive-table {
  margin: 0;
  padding: 0;
  width: 100%;
}
.dashboard-project-container .responsive-table ul {
  padding: 0 !important;
}
.dashboard-project-container .responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.dashboard-project-container .responsive-table .table-header {
  /*background-color: #95a5a6;*/
  font-size: 14px;
  color: #092635;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 25px 30px 0 30px;
  margin: 0 0 1rem 0;
}
.dashboard-project-container .responsive-table .table-row {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -webkit-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -moz-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
}
.dashboard-project-container .responsive-table .col-1 {
  flex-basis: 55%;
}
.dashboard-project-container .responsive-table .col-2 {
  flex-basis: 15%;
}
.dashboard-project-container .responsive-table .col-3 {
  flex-basis: 15%;
}
.dashboard-project-container .responsive-table .col-4 {
  flex-basis: 10%;
}
.dashboard-project-container .responsive-table .col-5 {
  flex-basis: 5%;
}
.dashboard-project-container .responsive-table .col-5 i, .dashboard-project-container .responsive-table .col-5 a {
  display: flex;
  align-items: start;
  justify-content: center;
  text-decoration: none;
  color: #265073;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
.dashboard-project-container .responsive-table .col-5 i:hover {
  color: #176B87;
}
@media all and (max-width: 767px) {
  .dashboard-project-container .responsive-table .table-header {
    display: none;
  }
  .dashboard-project-container .responsive-table li {
    display: block;
  }
  .dashboard-project-container .responsive-table .col {
    flex-basis: 100%;
  }
  .dashboard-project-container .responsive-table .col {
    padding: 10px 0;
    display: flex;
    width: 100%;
  }
  .dashboard-project-container .responsive-table .col::before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: left;
  }
}
@media all and (max-width: 550px) {
  .dashboard-project-container .responsive-table .col {
    display: block;
  }
  .dashboard-project-container .responsive-table .col::before {
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    color: #092635;
  }
  .dashboard-project-container .responsive-table .col-5::before {
    border: none;
  }
}

.dashboard-ticket-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.dashboard-ticket-container .responsive-table {
  margin: 0;
  padding: 0;
  width: 100%;
}
.dashboard-ticket-container .responsive-table ul {
  padding: 0 !important;
}
.dashboard-ticket-container .responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.dashboard-ticket-container .responsive-table .table-header {
  /*background-color: #95a5a6;*/
  font-size: 14px;
  color: #092635;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 25px 30px 0 30px;
  margin: 0 0 1rem 0;
}
.dashboard-ticket-container .responsive-table .table-row {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -webkit-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -moz-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
}
.dashboard-ticket-container .responsive-table .col-1 {
  flex-basis: 25%;
}
.dashboard-ticket-container .responsive-table .col-2 {
  flex-basis: 15%;
}
.dashboard-ticket-container .responsive-table .col-3 {
  flex-basis: 20%;
  padding-left: 3px;
}
.dashboard-ticket-container .responsive-table .col-4 {
  flex-basis: 10%;
  padding-right: 3px;
}
.dashboard-ticket-container .responsive-table .col-5 {
  flex-basis: 15%;
}
.dashboard-ticket-container .responsive-table .col-6 {
  flex-basis: 15%;
}
.dashboard-ticket-container .responsive-table .col-6 i, .dashboard-ticket-container .responsive-table .col-6 a {
  display: flex;
  align-items: start;
  justify-content: center;
  text-decoration: none;
  color: #265073;
  font-size: 2rem;
  padding: 4px;
  margin-right: 0px;
  line-height: 0;
  max-height: 40px;
}
.dashboard-ticket-container .responsive-table .col-6 i:hover {
  color: #176B87;
}
@media all and (max-width: 767px) {
  .dashboard-ticket-container .responsive-table .table-header {
    display: none;
  }
  .dashboard-ticket-container .responsive-table li {
    display: block;
  }
  .dashboard-ticket-container .responsive-table .col {
    flex-basis: 100%;
  }
  .dashboard-ticket-container .responsive-table .col {
    padding: 10px 0;
    display: flex;
    width: 100%;
  }
  .dashboard-ticket-container .responsive-table .col::before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: left;
  }
  .dashboard-ticket-container .responsive-table .col-6 i {
    justify-content: start !important;
  }
}
@media all and (max-width: 550px) {
  .dashboard-ticket-container .responsive-table .table-row {
    /*         background-color: lightgray; */
  }
  .dashboard-ticket-container .responsive-table .col {
    display: block;
  }
  .dashboard-ticket-container .responsive-table .col::before {
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    color: #092635;
  }
  .dashboard-ticket-container .responsive-table .col-6::before {
    border: none;
  }
}

.badge-low, .badge-medium, .badge-high, .badge-urgent,
.badge-new, .badge-development, .badge-testing, .badge-resolved {
  padding: 0px 7px 3px 7px;
  border-radius: 10px;
  color: #fff;
}

.badge-low {
  background-color: green;
}

.badge-medium {
  background-color: darkorange;
}

.badge-high {
  background-color: red;
}

.badge-urgent {
  background-color: fuchsia;
}

.badge-new {
  background-color: rgba(138, 218, 178, 0.9);
}

.badge-development {
  background-color: rgba(56, 135, 190, 0.9);
}

.badge-testing {
  background-color: rgba(56, 65, 157, 0.9);
}

.badge-resolved {
  background-color: rgba(32, 14, 58, 0.9);
}

.members-container {
  /* MEDIA */
}
.members-container .h1,
.members-container h1 {
  font-size: 1.5rem;
}
.members-container .container-fluid {
  max-width: 1400px;
}
.members-container .card {
  background: #fff;
  border: 1;
  margin: 0;
  padding: 0;
  max-width: 450px;
  border-radius: 7px;
  box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -webkit-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -moz-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
}
.members-container .card-body {
  padding: 0;
  margin: 0;
}
.members-container .img img {
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  height: auto;
  /* margin-top: 20px; */
  padding: 1px;
  /* transition: transform .5s; */
  /*     filter: grayscale(100%); */
}
.members-container .img-hover-zoom--colorize:hover img {
  /*     filter: grayscale(0);
  transform: scale(1.05); */
}
.members-container .card h5 {
  overflow: hidden;
  /* height: 80px; */
  font-weight: 300;
  font-size: 1rem;
}
.members-container .card h5 a {
  color: black;
  text-decoration: none;
}
.members-container .role {
  color: #7a7a7a;
}
.members-container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  /*   flex-basis: 20%; */
}
.members-container .bi {
  font-size: 1.5rem;
  color: darkgray;
  transition: transform 0.5s;
  /*   border: 1px solid blue; */
}
.members-container .bi:hover {
  color: black;
  transform: scale(1.1);
}
.members-container .card h2 {
  font-size: 1rem;
}
@media only screen and (min-width: 1200px) {
  .members-container .h1,
  .members-container h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 420px) and (max-width: 576px) {
  .members-container .h1,
  .members-container h1 {
    font-size: 1.5rem;
  }
  .members-container .img {
    margin-top: 1rem;
  }
  .members-container .card {
    width: 80%;
  }
}

.projects-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.projects-container .responsive-table {
  margin: 0;
  padding: 0;
  width: 100%;
}
.projects-container .responsive-table ul {
  padding: 0 !important;
}
.projects-container .responsive-table li {
  border-radius: 3px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.projects-container .responsive-table .table-header {
  /*background-color: #95a5a6;*/
  font-size: 14px;
  color: #092635;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0 0 0rem 0;
}
.projects-container .responsive-table .table-row {
  background-color: #ffffff;
  border-radius: 7px;
  border-radius: 7px;
  box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -webkit-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -moz-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
}
.projects-container .responsive-table .col-1 {
  flex-basis: 20%;
  padding: 0 3px;
}
.projects-container .responsive-table .col-2 {
  flex-basis: 40%;
}
.projects-container .responsive-table .col-3 {
  flex-basis: 13%;
}
.projects-container .responsive-table .col-4 {
  flex-basis: 13%;
}
.projects-container .responsive-table .col-5 {
  flex-basis: 9%;
}
.projects-container .responsive-table .col-6 {
  flex-basis: 5%;
}
.projects-container .responsive-table .col-6 i, .projects-container .responsive-table .col-6 a {
  display: flex;
  align-items: start;
  justify-content: center;
  text-decoration: none;
  color: #265073;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
.projects-container .responsive-table .col-6 i:hover {
  color: #176B87;
}
@media all and (max-width: 767px) {
  .projects-container .responsive-table .table-header {
    display: none;
  }
  .projects-container .responsive-table li {
    display: block;
  }
  .projects-container .responsive-table .col {
    flex-basis: 100%;
  }
  .projects-container .responsive-table .col {
    padding: 10px 0;
    display: flex;
    width: 100%;
  }
  .projects-container .responsive-table .col::before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    text-align: left;
    flex-wrap: wrap;
    width: 20%;
  }
  .projects-container .responsive-table .col-2::before {
    padding-right: 8%;
  }
}
@media all and (max-width: 550px) {
  .projects-container .responsive-table .col {
    display: block;
  }
  .projects-container .responsive-table .col::before {
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    color: #092635;
  }
  .projects-container .responsive-table .col-6::before {
    border: none;
  }
}

.tickets-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.tickets-container .responsive-table {
  margin: 0;
  padding: 0;
  width: 100%;
}
.tickets-container .responsive-table ul {
  padding: 0 !important;
}
.tickets-container .responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.tickets-container .responsive-table .table-header {
  /*background-color: #95a5a6;*/
  font-size: 14px;
  color: #092635;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 25px 30px 0 30px;
  margin: 0 0 1rem 0;
}
.tickets-container .responsive-table .table-row {
  background-color: #ffffff;
  border-radius: 7px;
  border-radius: 7px;
  box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -webkit-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -moz-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
}
.tickets-container .responsive-table .col-1 {
  flex-basis: 35%;
}
.tickets-container .responsive-table .col-2 {
  flex-basis: 15%;
}
.tickets-container .responsive-table .col-3 {
  flex-basis: 20%;
}
.tickets-container .responsive-table .col-4 {
  flex-basis: 10%;
}
.tickets-container .responsive-table .col-5 {
  flex-basis: 15%;
}
.tickets-container .responsive-table .col-6 {
  flex-basis: 5%;
}
.tickets-container .responsive-table .col-6 i, .tickets-container .responsive-table .col-6 a {
  display: flex;
  align-items: start;
  justify-content: center;
  text-decoration: none;
  color: #265073;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
.tickets-container .responsive-table .col-6 i:hover {
  color: #176B87;
}
@media all and (max-width: 767px) {
  .tickets-container .responsive-table .table-header {
    display: none;
  }
  .tickets-container .responsive-table li {
    display: block;
  }
  .tickets-container .responsive-table .col {
    flex-basis: 100%;
  }
  .tickets-container .responsive-table .col {
    padding: 10px 0;
    display: flex;
    width: 100%;
  }
  .tickets-container .responsive-table .col::before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: left;
  }
}
@media all and (max-width: 550px) {
  .tickets-container .responsive-table .table-row {
    /*         background-color: lightgray; */
  }
  .tickets-container .responsive-table .col {
    display: block;
  }
  .tickets-container .responsive-table .col::before {
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    color: #092635;
  }
  .tickets-container .responsive-table .col-6::before {
    border: none;
  }
}

.crud-container .form-group {
  margin-bottom: 1rem;
}
.crud-container label {
  margin-bottom: 0.3rem;
}
.crud-container #imageFileData {
  margin-top: 1.8rem;
}
.crud-container .form-check-input {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  background-color: #e2e5e9;
  background-color: black;
  border-color: gray;
}

.detail-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 1.5rem;
}

.detail-card-section {
  display: grid;
  grid-row-gap: 10%;
  height: 100%;
}

.detail-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: white;
  border-radius: 7px;
  box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -webkit-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -moz-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
}
.detail-card-wrapper ul {
  margin: 0;
  padding: 0 1rem;
}

.detail-card-wrapper > * {
  flex: 2 300px;
  flex-basis: 50%;
}

.detail-card-image img {
  width: 100%;
  height: auto;
  padding: 5px 0 0 5px;
  margin: 0;
  border: none;
}

.detail-card-content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

.detail-card-header {
  margin-bottom: 1rem;
}

.detail-card-dates li {
  text-decoration: none;
  list-style: none;
  /*margin-left: 0.5rem;*/
}

.detail-card-activity li {
  text-decoration: none;
  list-style: none;
  /*margin-left: 0.5rem;*/
}

.detail-card-status span {
  margin-left: 1rem;
}

.detail-card-status .progress-value {
  color: white;
  background-color: #176B87;
  border-radius: 5px;
  margin: 1rem;
  padding: 0;
}

.detail-card-actions {
  display: flex;
  justify-content: start;
}
.detail-card-actions a {
  margin: 1rem;
  margin-top: 1.8rem;
}

.project-manager-card {
  border-radius: 7px;
  box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -webkit-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -moz-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
}

.activity-log-card {
  border-radius: 7px;
  box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -webkit-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
  -moz-box-shadow: -1px -2px 12px -4px rgba(16, 14, 14, 0.61);
}

@media all and (max-width: 767px) {
  .detail-card-wrapper > * {
    flex: 1 400px;
  }
}
